html {
  min-height: 100%;
  position: relative;
}

th {
  background-color: white;
}

textarea {
  background-color: #E5A3AD;
}

p {
  font-style: italic;
  font-family: 'Lucida Sans Unicode';
}

.jumbotron {
  background-color: #E5A3AD;
}

#title-date {
  font-style: italic;
  font-family: 'Lucida Sans Unicode';
}

tr {
  justify-content: center;
}

#title-year {
  font-family: 'Lucida Sans Unicode';
}
